.App {
  border: 1.5px solid #ccc;
  border-radius: 3px;
  height: 98vh;
  width: 98%;
  margin-top: 0.7vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 13x;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App .MessageList {
  box-sizing: border-box;
  flex: 1;
}

.App .MessageForm {
  background: #eee;
  border-top: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  flex: 0 0 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App h1 b {
    position: relative;
    bottom: 1.4rem;
}

.App h1 img {
    position: relative;
    margin-left: 1em;
    bottom: 0.8rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
